@media (max-width: 460px) {
  #main-container {
    .main-profile {
      .image-profile {
        .inner {
          transform: translateX(8%) !important;
          img {
            transform: translateX(5%) !important;
          }
        }
      }
    }
  }

  .container-nav {
    .right-menu {
      .contact-btn {
        display: none !important;
      }
    }
  }

  div.inner-more {
    div {
      font-size: 14px !important;
    }
  }

  .left-side {
    .title {
      h1 {
        font-size: 1.1rem !important;
        line-height: 1.3rem !important;
      }
    }
  }

  #connect-container {
    h1 {
      font-size: 2rem !important;
    }
    .wrapper {
      .list-connect {
        grid-template-columns: 200px 200px !important;
        margin-top: 5% !important;
        .icon-container {
          width: 100% !important;
          padding: 0 0 !important;
          margin: auto !important;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          p {
            width: 75% !important;
          }

          .bg-image {
            width: 75% !important;
            transform: translateX(10%) !important;
          }
        }
      }
    }
  }

  #skill-container {
    h1 {
      font-size: 1.5rem !important;
    }
  }

  .footer {
    .container {
      flex-direction: column !important;

      .logo-container {
        text-align: center !important;
        margin-bottom: 8% !important;
      }
    }
  }
}

@media (max-width: 415px) {
  .intro {
    .intro-title {
      font-size: 80% !important;
    }

    .intro-subtitle {
      font-size: 1rem !important;
    }
  }

  #connect-container {
    h1 {
      padding-top: 3rem !important;
    }
    height: 100% !important;
    .wrapper {
      .list-connect {
        height: 20rem !important;
        .icon-container {
          width: 100% !important;
          padding: 0 0 !important;
          margin: auto !important;

          p {
            width: 80% !important;
          }

          .bg-image {
            width: 90% !important;
            transform: translateX(-1%) !important;
          }
        }
      }
    }
  }

  #skill-container {
    padding: 24px !important;

    div.design {
      h3 {
        font-size: 1rem !important;
      }

      ul {
        li {
          font-size: 0.8rem !important;
        }
      }
    }

    div.develop {
      h3 {
        font-size: 1rem !important;
      }

      ul {
        li {
          font-size: 0.8rem !important;
        }
      }
    }

    .experience {
      .logo-list {
        img {
          width: 8% !important;
          height: 8% !important;
          padding: 5px 0 !important;
          margin: 0 10px !important;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #project-container {
    .container-full-card {
      .content {
        h1 {
          font-size: 1rem !important;
          margin-bottom: 0px !important;
        }

        p {
          font-size: 0.6rem !important;
        }
      }
    }

    .right-side {
      .more-project {
        left: -70% !important;
        .inner-more {
          div {
            font-size: 12px !important;
          }

          img {
            width: 16px;
            height: 14px;
            margin-top: 2.3px;
          }
        }
      }
    }
  }

  #connect-container {
    height: 70vh !important;
    .wrapper {
      .list-connect {
        grid-template-columns: repeat(2, 180px) !important;
        .icon-container {
          p {
            width: 75% !important;
          }
        }
      }
    }
  }

  #skill-container {
    h1 {
      width: 110% !important;
      font-size: 1.3rem !important;
    }

    .skill-list {
      .design {
        h3 {
          font-size: 0.9rem !important;
        }

        ul {
          li {
            font-size: 0.7rem !important;
          }
        }
      }

      .develop {
        h3 {
          font-size: 0.9rem !important;
        }

        ul {
          li {
            font-size: 0.7rem !important;
          }
        }
      }
    }

    .experience {
      h5 {
        font-size: 0.9rem !important;
      }
    }
  }
}

@media (max-width: 340px) {
  #main-container {
    .main-profile {
      .intro {
        .intro-title {
          font-size: 70% !important;
        }

        .intro-subtitle {
          font-size: 0.8rem !important;
        }
      }
    }
  }

  #project-container {
    .left-side {
      .title {
        margin-left: 3px !important;
        h3 {
          font-size: 0.6rem !important;
        }

        h1 {
          font-size: 1rem !important;
        }
      }
    }

    .right-side {
      .more-project {
        left: -80% !important;
      }
    }
  }

  #connect-container {
    height: 100% !important;
    h1 {
      font-size: 1.5rem !important;
      padding-top: 3rem !important;
    }

    .wrapper {
      .list-connect {
        grid-template-columns: repeat(2, 160px) !important;
        height: 15rem !important;

        .icon-container {
          p {
            width: 85% !important;
          }
        }
      }
    }
  }
}
